.root {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 3rem 0 0 6rem;
}

.name {
    color: white;
    font-size: 3rem;
    font-family: 'Inter';
    font-weight: 700;
    color: #64A2FF;
}

.logo {
    height: 66px;
    width: 63px;
}