html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.gradient_header {
  background: linear-gradient(
      90.16deg,
      #0066ff -2.29%,
      #bed8ff 21.73%,
      #c8deff 22.91%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo {
}
